// @author: laoono
// @date: 2016-09-29
// @time: 09:53
// @contact: laoono.com
// @description:

// 定义字体的基准大小
$base-fonts-2-rem: 100px !default;

// 定义屏幕视口尺寸
$base-viewport-width: 750px !default;

// 屏幕断点
$base-responsive: 320px, 360px, 375px, 384px, 414px, 480px, 640px, 750px !default;

// css reset 变量
$base-font: "Microsoft Yahei", "Helvetica" !default;
$base-placeholder-color: rgba(#fff, .6) !default;
$base-font-mac: "Hiragino Sans GB", "Microsoft Yahei", "Helvetica" !default;
$base-font-size: 16px !default;
$base-line-height: 1 !default;
$base-color: rgba(#333, 1) !default;
